/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgb(255 0 112 / 1);
  --title-color: rgb(219 0 255 / 1);
  --light-text-color: rgb(241 178 206 / 1);
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgb(0 0 40 / 1);
  --common-font-size: 18px;
  --offset: 10px;
  --text-indent: 50px;
}

@media screen and (width >= 768px) {

  :root {
    --offset: 20px;
    --text-indent: 80px;
  }
}
